@import "tailwindcss";



:root {
  --primary: #2dd4bf;         
  --background-color: #0f1f1c; 
  --surface-border: #2f4f4a;
}



* {
  transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}